@import url('http://fonts.cdnfonts.com/css/montserrat');
*{
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  background-color:rgb(96, 204, 231);
  font-family: 'Montserrat', sans-serif!important;

}

.header {
  text-align: center;
}

.row {
  padding-bottom: 50px;
}

.h1,h2,h3,h4,h5{
  font-family: 'Montserrat', sans-serif!important;
}
h2.ui.header{
  font-family: 'Montserrat', sans-serif!important;
}
button.ui.button{
  font-family: 'Montserrat', sans-serif!important;
}
span{
  font-family: 'Montserrat', sans-serif!important;
}